-i https://pypi.org/simple/
asn1crypto==1.4.0
cffi==1.14.5
click==8.0.0a1
cryptography==2.6.1
flask==1.0.2
itsdangerous==2.0.0rc1
jinja2==2.11.3
markupsafe==2.0.0rc1
psycopg2-binary==2.8.2
psycopg2==2.8.2
pycparser==2.20
six==1.15.0
sqlalchemy==1.3.3
werkzeug==2.0.0rc3
